<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB00</display-name>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>it.web.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>it.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>it.web.servlet.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChecknameServlet</display-name>
    <servlet-name>ChecknameServlet</servlet-name>
    <servlet-class>it.web.servlet.ChecknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChecknameServlet</servlet-name>
    <url-pattern>/checknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>it.web.servlet.product.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>it.web.servlet.product.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListFenServlet</display-name>
    <servlet-name>ProductListFenServlet</servlet-name>
    <servlet-class>it.web.servlet.product.ProductListFenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListFenServlet</servlet-name>
    <url-pattern>/productListFenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductNameServlet</display-name>
    <servlet-name>SearchProductNameServlet</servlet-name>
    <servlet-class>it.web.servlet.product.SearchProductNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductNameServlet</servlet-name>
    <url-pattern>/searchProductNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductInfoByPnameServlet</display-name>
    <servlet-name>SearchProductInfoByPnameServlet</servlet-name>
    <servlet-class>it.web.servlet.product.SearchProductInfoByPnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductInfoByPnameServlet</servlet-name>
    <url-pattern>/searchProductInfoByPnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>it.web.servlet.admin.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductAddServlet</display-name>
    <servlet-name>AdminProductAddServlet</servlet-name>
    <servlet-class>it.web.servlet.admin.AdminProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductAddServlet</servlet-name>
    <url-pattern>/adminProductAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>it.web.servlet.admin.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dminDelProduct</display-name>
    <servlet-name>dminDelProduct</servlet-name>
    <servlet-class>it.web.servlet.admin.dminDelProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dminDelProduct</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>it.web.servlet.admin.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/adminEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet2</display-name>
    <servlet-name>AdminEditProductServlet2</servlet-name>
    <servlet-class>it.web.servlet.admin.AdminEditProductServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet2</servlet-name>
    <url-pattern>/adminEditProductServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListServlet</display-name>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <servlet-class>it.web.servlet.admin.AdminSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <url-pattern>/adminSearchProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListFenServlet</display-name>
    <servlet-name>AdminProductListFenServlet</servlet-name>
    <servlet-class>it.web.servlet.admin.AdminProductListFenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListFenServlet</servlet-name>
    <url-pattern>/adminProductListFenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListFenServlet</display-name>
    <servlet-name>AdminSearchProductListFenServlet</servlet-name>
    <servlet-class>it.web.servlet.admin.AdminSearchProductListFenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListFenServlet</servlet-name>
    <url-pattern>/adminSearchProductListFenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelAllProductServlet</display-name>
    <servlet-name>DelAllProductServlet</servlet-name>
    <servlet-class>it.web.servlet.DelAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAllProductServlet</servlet-name>
    <url-pattern>/delAllProduct</url-pattern>
  </servlet-mapping>
</web-app>